@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,200;0,300;0,400;0,500;1,100;1,200;1,300;1,400&display=swap');
*,*::after,*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
    
}
p{
    font: 1em;
}
body{
    font-family: 'Fira Sans', sans-serif;
}
/* ################################ Utility Classes############################# */
.container{
    
    max-width: 1200px;
    width: 90%;
    margin: auto;
    box-shadow:  1px  -5px 18px rgb(150 147 147);
}
.btn{
    border: palevioletred solid;
    padding: 0.8em 2.2em;
    text-decoration: none;
    border-radius: 30px;
    cursor: pointer;
    background-color: rgb(231, 147, 189);
    color: black;
    margin-top: 50px;
}






/* ############################# For Desktop Mode ########################## */

.navbar input[type="checkbox"],.navbar.hamburger-lines{
    display: none;

}
.navbar{
    
    box-shadow: 0px 5px 10px rgb(190, 184, 184);
    opacity: 0.85;
    z-index: 5;
    position: fixed;
    width: 100%;
    background-color: #fff;

}
.navbar-container{
    display: flex;
    height: 70px;
    text-align: center;
    justify-content: space-around;
    /* flex-direction: row-reverse; */
}
.menu-items{
    order: 1;
    display: flex;
}
.logo{
    order: 0;
    font-size: 3rem;
      
}
.menu-items li{
    list-style: none;
    
    margin-left: 1.5rem;
    font-size: 1.8rem;
}
.navbar a{
    text-decoration: none;
    color: rgb(29, 27, 27);
    
}
.navbar a:hover{
    color: green;
    transition: color 0.2s ease-in;
}
.showcase-area{
    height: 90vh;
    background: url("./header-image2.jpg");
}
.showcase-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    font-size: 1.6rem;
    
}
/* ###################################About Us################################ */

.about-img{
    flex: 1 1 400px;
    padding: 30px;
    
    transform: translateX(150%);
    animation: about-img-animation 2s ease-in forwards;
}
@keyframes about-img-animation{
    100%{
        transform: translate(0);
    }
}
@keyframes about-text-animation {
    100%{
        transform:translate(0);
    }
}


.about-img img{
    display: block;
    max-width: 100%;
    margin: auto;
    height: 400px;
    object-fit: cover;
    object-position: center;
    
}
#about{
    padding-top: 40px;
    
}
.about-wrapper{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}
.about-text{
    color: #555;
    font-size:2rem;
    
    flex:1 1 400px;
    padding: 30px;
    margin: auto;
    transform: translateX(150%);
    animation: about-text-animation 1s ease-in forwards;
}
/* ################################# Food category styling######################### */

#food{
    padding: 5rem 0rem 10rem 0;
}
#food h2{
    text-align: center;
    font-size: 3rem;
    font-weight: 400;
    margin-bottom: 40px;
    text-transform: uppercase;
    color: #555;
}
.food-container{
    display: flex;
    justify-content:stretch;
   
}
.food-container img{
    display: block;
    width: 100%;
    
}
.image-container{
    margin: 0 1rem;
    position: relative;

}
.image-content{
    position: absolute;
    top: 70%;
    left: 40%;
    z-index: 2;
    text-align: center;
    opacity: 0;
    transform: scaleY(0);
    transition: all 0.5s ease-in;
}
.cart{
    margin-bottom: 40px;
    font-size: 3rem;
    color: #fff;
}
.image-container::after{
    content: "";
    width: 100%;
    height: 100%;
    
    background-color: rgba(0, 0, 0, 0.637);
    position: absolute;
    top: 0;
    opacity: 0;
    transform: scaleY(0);
    transform-origin: 100% 100%;
    transition: all 0.5s ease-in-out;
}
.image-container:hover::after{
    opacity: 1;
    transform: scaleY(1);
}
.image-container:hover .image-content{
    opacity: 1;
    transform: scaleY(1);
    top: 80%;
}
.food-menu-heading{
    font-size: 4rem;
    font-weight: 400;
    color: #666;
    text-align: center;
    margin-bottom: 20px;
}    
.food-menu-container{
    display: flex;
    flex-wrap: wrap;
    padding: 50px 0px 30px 0px;
    
}
.food-menu-item{
    display: flex;
    flex: 1 1 600px;
    justify-content: space-evenly;
    margin-bottom: 3rem;
}
.food-menu-container img{
    display: block;
    height: 250px;
    width: 250px;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
}
.food-description{
    margin: auto 1.5rem;
}
.food-title{
    font-size: 2rem;
    color: #666;
    font-weight: 600;
    margin-bottom: 10px;
}
.food-description p{
    font-size: 1.4rem;
    color: rgb(26, 22, 22);
}
.food-description .food-price{
    color: green;
    font-weight: 500;
}
#testimonials{
    padding: 5rem 0rem;
    background: rgb(243,243,243);
}
.testimonials-title{
    text-align: center;
    margin-bottom: 20px;
    font-size: 2rem;
    font-weight: 700;
    color: grey;
}
.testimonial-container{
    display: flex;
    justify-content: space-between;
    font-size: 1.6rem;
}
.testimonial-container i{
    color: #ff9529;
}
.testimonial-box .testimonials-text{
    margin: 1rem 0;
    color: #444;
}
.customer-photo img{
    display: block;
    width: 100px;
    height: 100px;
    object-position: center;
    object-fit: cover;
    border-radius: 50%;
    margin: auto;
}
.testimonial-box{
    text-align: center;
    padding: 1rem;
}
.contact-container{
    display: flex;
    height: 500px;
}
.contact-image{
    width: 50%;
}
.contact-image img{
    width: 100%;
    height: 400px;
    background-position: center;
    background-repeat: no-repeat;
    object-fit: cover;
    display: block;
}
.form{
    padding: 1rem;
    margin: auto;
    width: 50%;
    
    height: 500px;
}
.form input{
    display: block;
    width: 70%;
    margin: 10px;
}
    
   

.form textarea{
    margin-left: 10px;
    display: block;
    width: 100%;
    padding: 1rem 0;
    border-bottom: 2px solid #ddd;
   height: 100px;
}
.bt{
    
    margin-top: 30px;
    display: block;
}
#footer{
    border: solid;
    text-align: center;
    height: 70px;
    background-color: rgb(109, 104, 104);
    color: white;

}
#footer i{
    font-size: 45px;
}

    
